/* Box Model Hack */
* {
  box-sizing: border-box;
  border: 1px solid purple;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

:root {
  --bg-color: white;
  --text-color: black;
  --font-main: "oswald", serif;
}
/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-main);
}

h1, a {
  display: inline-block;
  white-space: nowrap;
}

img {
  width: 100%;
  display: inline-block;
}

a {
  color: var(--text-color);
  text-decoration: none;
  width: fit-content;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  button {
    background-color: var(--bg-color)
  }
  img {
    height: 2rem;
  }
}
nav {
  display: none;
}

main {
  padding: 0 5%;
  & > * {
    margin: 2rem 0;
  }
}

footer {
  ul {
  }
  img {
    height: 2rem;
  }
}

/***************CONTACT PAGE***************/
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/******************************************
/* TYPOGRAPHY
/*******************************************/
h2, h3 {
  text-align: center;
}

p {
  line-height: 1.5;
  font-size: 1.5rem
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


/******************************************
/* MEDIA QUERIES
/*******************************************/
