/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

:root {
  --bg-color: white;
  --text-color: black;
  --font-main: "oswald", serif;
}
/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-main);
}

img {
  width: 100%;
  display: inline-block;
}

figcaption {
  text-align: right;
  font-size: 1.2rem;
}

a {
  color: var(--text-color);
  width: fit-content;
  word-wrap: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  button {
    background-color: var(--bg-color)
  }
  img {
    height: 2rem;
  }
}
nav {
  display: none;
}

main {
  padding: 0 5%;
  & > * {
    margin: 32px 0;
  }
}

footer {
  ul {
  }
  img {
    height: 2rem;
  }
}

/***************CONTACT PAGE***************/
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  label {
    display: flex;
    flex-direction: column;
  }
  fieldset {
    display: flex;
    justify-content: space-between;
    label {
      width: 48%;
    }
  }
  input, textarea {
    padding: 8px;
  }
  button {
    width: 25%;
    aspect-ratio: 2 / 1;
  }
}

.representation div {
  display: flex;
  flex-direction: column;
  padding: .8em;
}


/******************************************
/* TYPOGRAPHY
/*******************************************/
h2 {
  text-align: center;
  font-weight: 400;
  font-size: 2.4rem;
}

p {
  line-height: 1.6;
  font-size: 1.6rem
}

figcaption {
  font-weight: 300;
}

legend, label {
  font-size: 1.6rem;
}
fieldset > label {
  font-weight: 300;
  font-size: 1.2rem;
}
input {
  font-size: 1.6rem;
}
button[type="submit"]{
  font-size: 1.6rem;
  font-weight: 300;
}
.representation{
  span {
    font-size: 1.6rem;
  }
  span + span {
    font-size: 1.2rem;
    font-weight: 300;
  }
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/



/******************************************
/* MEDIA QUERIES
/*******************************************/